.screen { padding:10px 20px; 
    background-color: rgb(217, 255, 225);
     border:solid 2px rgb(139, 247, 139);
      border-radius: 10px;}

      .custombutton {
        background-color:white; border:2px rgb(186, 241, 186) solid; padding:15px 40px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
      }
      
      .custombutton:hover {
    
        background-color: rgb(170, 218, 170); 
        color: white;
      }