<div class="row">
    <nb-card>
        <nb-card-body>
            <div class="col-md-4">
                <img width="150px" height="150px" [src]="customer.picture">
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card>
        <nb-card-body>
            <div class="col-md-8">
                <table class="table table-bordered table-striped">
                    <tbody>

                        <tr>
                            <td>Membership Number</td>
                            <td>{{customer.membershipnumber}}</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{customer.name}}</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{customer.category}}</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>{{customer.phone}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{customer.email}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{customer.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </nb-card-body>
    </nb-card>
</div>