<div class="row">

    <div class="col-sm-3">
        <nb-card>
            <nb-card-body>
                <img width="200px" height="200px" [src]="imageUrl">
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-sm-9">
        <nb-card>
            <nb-card-body>
                <table class="table table-bordered table-striped">
                    <tbody>

                        <tr>
                            <td>
                                <b> Number</b>
                            </td>
                            <td>{{customer.membershipnumber}}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Name</b>
                            </td>
                            <td>{{customer.name}}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Category</b>
                            </td>
                            <td>{{customer.category}}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Phone Number</b>
                            </td>
                            <td>{{customer.phone}}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Email</b>
                            </td>
                            <td>{{customer.email}}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Address</b>
                            </td>
                            <td>{{customer.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>

</div>