<div class="col-md-12">
    <nb-card>
        <nb-card-header>

            New Subscription Fee Payment Request
            <br>Subscription Fee : {{subscriptionfee}}
        </nb-card-header>
        <nb-card-body>
            <form (ngSubmit)="createSubscriptionFeePaymentRequest()" class="form-group" #form="ngForm">
                <div class="form-group col-md-4" style="margin-left:-12px;">
                    <label>Year</label>
                    <select class="form-control" [(ngModel)]="data.year" name="year">
                        <option *ngFor="let yearvalue of yearlist" [value]="yearvalue.id">{{yearvalue.description}}</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="narration">Narration</label>
                    <textarea rows="3" #narration="ngModel" [(ngModel)]="data.narration" name="narration" id="narration" class="form-control"
                        placeholder="Narration" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-success">Save</button>

            </form>
        </nb-card-body>
    </nb-card>
</div>