<nb-layout center>
    <nb-layout-header>
        <h1>Memebr Search</h1>
    </nb-layout-header>

    <nb-layout-column>
        <nb-card>
            <nb-card-header>
                Search Criteria
            </nb-card-header>

            <nb-card-body>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">

                        <tbody>
                            <tr>
                                <td>Membership Category</td>
                                <td>
                                    <select class="form-control" [(ngModel)]="data.membershipcategoryid" name="membershipcategoryid">
                                        <option *ngFor="let item of membershipcategorylist" [value]="item.id">{{item.description}}</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <td>State</td>
                                <td>
                                    <select class="form-control" [(ngModel)]="data.stateid" name="stateid">
                                        <option *ngFor="let item of statelist" [value]="item.id">{{item.description}}</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>
                                    <input type="text" class="form-control" name="membername" #membername="ngModel" [(ngModel)]="data.membername" id="membername"
                                        placeholder="Name">
                                </td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>
                                    <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="data.address" id="address" placeholder="Address">
                                </td>
                            </tr>


                            <tr>
                                <td>

                                </td>
                                <td>
                                    <button class="btn btn-hero-info  btn-demo" (click)="search()">Search</button>
                                </td>

                            </tr>
                        </tbody>

                    </table>
                </div>
                <div (click)="opendetails(result)" class="row contact" *ngFor="let result of resultlist | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">
                   
                        <nb-user [picture]="result.picture" [name]="result.name" [title]="result.address" size="large">
                   
                    </nb-user>
                    <span class="time">{{ result.category }}</span>
                </div>
                <div class="row justify-content-center">

                    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                </div>
            </nb-card-body>
        </nb-card>


    </nb-layout-column>

    <nb-layout-footer></nb-layout-footer>

</nb-layout>