<div class="col-md-12">
    <nb-card>
        <nb-card-header>
            Colection/Delivery Details</nb-card-header>
        <nb-card-body>


            <i> You can complete either the postcode or the town/city as required.</i>
            <form class="">
                <div class="row col-sm-12">
                    <div class=" col-sm-4">
                        <label>
                            <b>Collection Point</b>
                        </label>
                        <select class="form-control">
                            <option>Nigeria</option>
                            <option>Germany</option>
                            <option>USA</option>

                        </select>
                    </div>

                    <div class="col-sm-4 ">
                        <label>
                            <b>Collection Postcode</b>
                        </label>

                        <input class="form-control" placeholder="Collection Postcode" type="text">
                    </div>
                    <div class="col-sm-4 ">
                        <label>
                            <b>Collection Town/City *</b>
                        </label>

                        <input class="form-control" placeholder="Last Name" type="text">
                    </div>


                </div>
                <div class="row col-sm-12">
                    <div class=" col-sm-4">
                        <label>
                            <b>Delivery Point</b>
                        </label>
                        <select class="form-control">
                            <option>Nigeria</option>
                            <option>Germany</option>
                            <option>USA</option>

                        </select>
                    </div>

                    <div class="col-sm-4 ">
                        <label>
                            <b>Delivery Postcode </b>
                        </label>

                        <input class="form-control" placeholder="Delivery Postcode" type="text">
                    </div>
                    <div class="col-sm-4 ">
                        <label>
                            <b>Delivery Town/City *</b>
                        </label>

                        <input class="form-control" placeholder="Delivery Town/City" type="text">
                    </div>


                </div>



            </form>






        </nb-card-body>
    </nb-card>
    <nb-card>
        <nb-card-header>
            Your Shipment Details</nb-card-header>
        <nb-card-body>



            <form class="">
                <div class="row col-sm-12">
                    <div class="col-sm-6 ">
                        <label>
                            <b>Description ( eg. widgets, plastic parts, car parts ) </b>
                        </label>

                        <input class="form-control" placeholder="type of goods" type="text">
                    </div>

                    <div class="col-sm-4 ">
                        <label>
                            <b>Shipment Value</b>
                        </label>

                        <input class="form-control" placeholder="Naira Value" type="text">
                    </div>



                </div>
                <div class="row col-sm-12 " style="margin-top:8px;">
                    <div class=" col-sm-4">
                        <label>
                            <b>Package Type</b>
                        </label>
                        <select class="form-control">
                            <option>20 foot container</option>
                            <option>20 foot container</option>
                            <option>40 foot container</option>

                        </select>
                    </div>

                    <div class="col-sm-4 ">
                        <label>
                            <b>Quantity </b>
                        </label>

                        <input class="form-control" placeholder="Quantity" type="text">
                    </div>
                    <div class="col-sm-2 ">
                        <label>
                            <b>Weight - kilos</b>
                        </label>

                        <input class="form-control" placeholder="Weight - kilos" type="text">
                    </div>
                    <div class="col-sm-2 ">
                        <label>
                            <b>Height (cm)</b>
                        </label>

                        <input class="form-control" placeholder="Height" type="text">
                    </div>


                </div>
                <div class="col-md-6" style="margin-top:8px;">
                    <b> Additional Information - to enable us to give you the best price possible please include any relevant
                        information concerning the shipment.
                    </b>
                    <div class="input-group">
                        <textarea class="form-control" placeholder="Text Area" rows="5"></textarea>
                    </div>
                </div>

            </form>
            <div class="row col-md-12" style="margin-top:20px;">
                <button type="submit" style="margin-top:20px;" class="btn btn-success">Save</button>
            </div>





        </nb-card-body>
    </nb-card>
</div>