<div class="col-md-12">
    <nb-card>
        <nb-card-header>
            Staff
        </nb-card-header>
        <nb-card-body>

            <div>
                <i>Add your company staff detail in the section below:</i>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="data.name"
                            id="name" placeholder="name">
                    </div>


                    <div class="form-group">
                        <label>Position</label>
                        <input type="text" class="form-control" name="position" #position="ngModel"
                            [(ngModel)]="data.position" id="position" placeholder="Position">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="data.email"
                            id="email" placeholder="Email">
                    </div>

                </div>


            </div>
            <div style="padding-top:10px;">
                <button (click)="createStaff()" type="submit" class="btn btn-hero-success  btn-demo">Add</button>
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card>
        <nb-card-header>
            Staff List
        </nb-card-header>
        <nb-card-body>
            <table class="table table-bordered table-striped">

                <tbody>
                    <tr>

                        <th>Name</th>
                        <th>Position</th>
                        <th>Email</th>
                        <th>Image</th>
                        <th>Upload Image</th>
                        <th>Delete Image</th>
                    </tr>
                    <tr *ngFor="let staff of stafflist">
                        <td>{{staff.name}}</td>
                        <td>{{staff.position}}</td>
                        <td>{{staff.email}}</td>

                        <td>


                            <img width="30px" height="30px" [hidden]="staff.profilepicture===''"
                                src="data:image/jpg;base64,{{staff.profilepicture}}">
                            <img width="30px" height="30px" src="assets/images/avatar.png"
                                [hidden]="staff.profilepicture !=''">
                        </td>
                        <td>
                            <button (click)="showSmallModal(staff.id)" type="submit"
                                class="btn btn-hero-primary  btn-demo">Upload Image</button>
                        </td>
                        <td>
                            <button (click)="deleteStaff(staff.id)" type="submit"
                                class="btn btn-hero-danger  btn-demo">Delete</button>
                        </td>

                    </tr>
                </tbody>
            </table>

        </nb-card-body>
    </nb-card>


</div>