<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Customer Information</nb-card-header>
      <nb-card-body>
        <ngx-customer-info *ngIf="showcustomerinfo" [crffnmasterid]="crffnmasterid"></ngx-customer-info>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row col-md-12">
   <button (click)="createnewinvoice()" type="submit" class="btn btn-danger">Create New Invoice </button>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
       
        <div>Customer Invoice List</div>
       
      </nb-card-header>
      <nb-card-body>
        <ngx-customer-invoice-list [crffnmasterid]="crffnmasterid"></ngx-customer-invoice-list>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Payments</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>


  </div>


</div>