<nb-card>

    <nb-card-header>
        <div class="row">
            <div class="col-md-6">Invoice Master Detail</div>
            <div class="col-md-6" style="text-align:right;">
                <b>Invoice Number:{{invoicedata.invoicenos}}</b>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body style="border-top:5px solid rgb(69, 230, 252)">

        <div class="row">
            <div class="col-md-4">
                <b>Billed To: </b> {{invoicedata.payername}}
                <br/>
                <b>phone Number: </b> {{invoicedata.phone}}
                <br/>
                <b>email:</b> {{invoicedata.email}}
                <br/>
                <b>Address: </b>{{invoicedata.payeraddress}}</div>
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align:right;">
                <b>Date: </b>{{invoicedata.refdate}}
                <br/>
                <h3>Status:</h3>{{invoicedata.status}}
            </div>
        </div>

        <div class="row col-md-12" style="background-color: rgb(40, 227, 252, 0.4); margin-top:7px; height:25px;">

            <b> Name Of Organizations:</b> {{invoicedata.organizationname}}
            <br/>
            <b> Address:</b> {{invoicedata.address}}


        </div>

        <div class="row col-md-12" style="border-top:2px solid rgb(184, 184, 184); margin-top:7px; ">
            <div class="row col-md-12" style="width:100%; margin-top:10px">
                <div class="row col-md-12">
                    <div class="col-md-4" style="font-weight:bold; text-align:centre;">Category</div>
                    <div class="col-md-4" style="font-weight:bold; text-align:centre;">Naration</div>

                    <div class="col-md-4" style="font-weight:bold; text-align:centre;">Amount</div>
                </div>

                <div class="row col-md-12">
                    <div class="col-md-4" style=" text-align:centre;">{{invoicedata.category}}</div>
                    <div class="col-md-4" style=" text-align:centre;">{{invoicedata.narration}}</div>

                    <div class="col-md-4" style=" text-align:centre;">{{invoicedata.invoiceamount}}</div>
                </div>

            </div>
        </div>


    </nb-card-body>

</nb-card>
<nb-card>

    <nb-card-header>
        Payment Gateway
    </nb-card-header>
    <nb-card-body style="background-color:#f0f0f0;">
        <div class="row">
            Select your prefared payment gateway
        </div>


    </nb-card-body>
    <nb-card-body>
        <div class="row">
            <div class="row">
                <div class="col-md-3" style="border:1px #dfdede; cursor: pointer; ">

                    <img src="assets/images/gateway1.jpg" />

                </div>
                <div class="col-md-3" (click)="proceedtopayment()" style="border:1px #dfdede;cursor: pointer; ">

                    <img src="assets/images/gateway2.jpg" />

                </div>
                <div class="col-md-3" style="border:1px #dfdede; cursor: pointer; ">

                    <img src="assets/images/gateway3.jpg" />

                </div>
                <div class="col-md-3" style="border:1px #dfdede; cursor: pointer; ">

                    <img src="assets/images/gateway4.jpg" />


                </div>
            </div>
        </div>

    </nb-card-body>
</nb-card>