<div class="row">
    <ngx-invoicedetail [invoicemasterid]="invoicemasterid"></ngx-invoicedetail>
</div>


<nb-card>
    <nb-card-header>
        Payments
    </nb-card-header>
    <nb-card-body style="background-color:#dfdede;">
        <div class="row" style="margin:15px;">
            <button class="btn btn-hero-info  btn-demo" [disabled]="isDisabled" (click)="createPaymentTransactionRecord()">Click Here To Process Payment</button>
        </div>


        <div class="row">
            <div class="col-md-12">
                <nb-card>

                    <nb-card-body>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Details</th>
                                        <th>Cancel</th>
                                        <th> Reference Date
                                            <small>date generated</small>
                                        </th>
                                        <th> Category
                                            <small>Registration/Subscription/POF</small>
                                        </th>
                                        <th> Amount
                                            <small>invoice amount</small>
                                        </th>
                                        <th> Charges
                                            <small>transaction charges</small>
                                        </th>
                                        <th> Status
                                            <small>pending/started/success/failed</small>
                                        </th>
                                        <th> Trans Reference
                                            <small>Remita OrderId</small>
                                        </th>
                                        <th> Narration
                                            <small>transaction description</small>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let payment of paymentlist">
                                        <td class="text-nowrap" scope="row">
                                            <button (click)="openpaymentdetails(payment)" class="btn btn-hero-info  btn-demo">Details</button>
                                        </td>
                                        <td class="text-nowrap" scope="row">
                                            <button (click)="cancelPaymentTransaction(payment)" class="btn btn-hero-danger  btn-demo">Cancel</button>
                                        </td>
                                        <td>{{payment.refdate}}</td>
                                        <td>{{payment.category}}</td>
                                        <td>{{payment.transamount}}</td>
                                        <td>{{payment.transcharges}}</td>
                                        <td>{{payment.status}}</td>
                                        <td>{{payment.transref}}</td>
                                        <td>{{payment.narration}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-card-body>
</nb-card>