<nb-card>
    <nb-card-header> Contact {{customer.name}} </nb-card-header>
    <nb-card-body>
        <div class="row">
            <nb-card class="col-md-6">

                <nb-card-body class="" style="background-image:url('assets/images/bgbg.jpg'); ">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <b>Branch: </b>Abuja</h4>
                            <h6>

                                <img src="assets/images/iconbgphn.png">
                                <b>Telephone:</b> +44 (0)1842751751

                            </h6>
                        </div>

                    </div>
                    <div>
                        <h6>
                            <img src="assets/images/iconbgeml.png">
                            <b>Email:</b>sales@uniex.co.uk
                        </h6>
                    </div>

                    <div>
                        <h6>
                            <img src="assets/images/iconbgweb.png">
                            <b>website:</b>www.dommymail.com
                        </h6>
                    </div>

                    <div>
                        <h6>

                            <img src="assets/images/iconbgloc.png">
                            <b>Location:</b>
                            UFS Limited Uniex Freight Services Pegasus House Tilson Road Wythenshawe Manchester M23 9GF

                        </h6>
                    </div>


                </nb-card-body>
            </nb-card>
            <nb-card class="col-md-6">
                <nb-card-body class="" style="background-image:url('assets/images/bgbg.jpg'); ">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <b>Branch: </b>Lagos</h4>
                            <h6>

                                <img src="assets/images/iconbgphn.png">
                                <b>Telephone:</b>
                                +44 (0)1842751751

                            </h6>
                        </div>

                    </div>
                    <div>
                        <h6>
                            <img src="assets/images/iconbgeml.png">
                            <b>Email:</b>sales@uniex.co.uk
                        </h6>
                    </div>

                    <div>
                        <h6>
                            <img src="assets/images/iconbgweb.png">
                            <b>website:</b>www.dommymail.com
                        </h6>
                    </div>

                    <div>
                        <h6>

                            <img src="assets/images/iconbgloc.png">
                            <b>Location:</b>
                            UFS Limited Uniex Freight Services Pegasus House Tilson Road Wythenshawe Manchester M23 9GF

                        </h6>
                    </div>


                </nb-card-body>
            </nb-card>
        </div>
    </nb-card-body>
</nb-card>