<nb-card>
    <nb-card-header> Contact {{customer.name}} </nb-card-header>
    <nb-card-body>
        <div class="row">
            <nb-card *ngFor="let contact of contactlist" class="col-md-6">

                <nb-card-body class="" style="background-image:url('assets/images/bgbg.jpg'); ">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <b>Branch: </b>{{contact.branch}}</h4>
                            <h6>

                                <img src="assets/images/iconbgphn.png">
                                <b>Telephone:</b>{{contact.phonenumber}}

                            </h6>
                        </div>

                    </div>
                    <div>
                        <h6>
                            <img src="assets/images/iconbgeml.png">
                            <b>Email:</b>{{contact.email}}
                        </h6>
                    </div>

                    <div>
                        <h6>
                            <img src="assets/images/iconbgweb.png">
                            <b>website:</b>{{contact.website}}
                        </h6>
                    </div>

                    <div>
                        <h6>

                            <img src="assets/images/iconbgloc.png">
                            <b>Location:</b>
                            {{contact.description}}
                        </h6>
                    </div>


                </nb-card-body>
            </nb-card>

        </div>
    </nb-card-body>
</nb-card>