<div class="col-md-12">
    <nb-card>
        <nb-card-header> Staff </nb-card-header>
        <nb-card-body class="" style="background-image:url('assets/images/bgbg.jpg'); ">
            <div class="row">
                <div *ngFor="let staff of stafflist" class="row col-md-4">
                    <div class="row col-md-6" *ngIf="{{staff.id}}">
                        <img src="assets/images/placeholder.jpg">
                    </div>
                    <div class="row col-md-6">
                        <p>
                            <b>Name:</b>{{staff.name}}
                            <br/>
                            <b>Position:</b>{{staff.position}}
                            <br/>
                            <b>email:</b>{{staff.email}}
                            <br/>
                        </p>
                    </div>
                </div>



            </div>
        </nb-card-body>
    </nb-card>
</div>