<div class="col-md-12">
    <nb-card>
        <nb-card-header> Staff Of {{customer.name}} </nb-card-header>
        <nb-card-body class="" style="background-image:url('assets/images/bgbg.jpg'); ">
            <div class="row">
                <div class="row col-md-4">
                    <div class="row col-md-6">
                        <img src="assets/images/placeholder.jpg">
                    </div>
                    <div class="row col-md-6">
                        <p>
                            <b>Name:</b>Musa Buhari
                            <br/>
                            <b>Position:</b>Director
                            <br/>
                            <b>email:</b>musabuhari@gmail.com
                            <br/>
                        </p>
                    </div>
                </div>
                <div class="row col-md-4">
                    <div class="row col-md-6">
                        <img src="assets/images/placeholder.jpg">
                    </div>
                    <div class="row col-md-6">
                        <p>
                            <b>Name:</b>Musa Buhari
                            <br/>
                            <b>Position:</b>Director
                            <br/>
                            <b>email:</b>musabuhari@gmail.com
                            <br/>
                        </p>
                    </div>
                </div>
                <div class="row col-md-4">
                    <div class="row col-md-6">
                        <img src="assets/images/placeholder.jpg">
                    </div>
                    <div class="row col-md-6">
                        <p>
                            <b>Name:</b>Musa Buhari
                            <br/>
                            <b>Position:</b>Director
                            <br/>
                            <b>email:</b>musabuhari@gmail.com
                            <br/>
                        </p>
                    </div>
                </div>

            </div>
        </nb-card-body>
    </nb-card>
</div>