<div style="background-color:aqua; padding:15px;">

  <div class="row">
    <div class="col-xxxl-3 col-md-6">
      <ngx-status-card title="Registration Fee" type="primary" [status]="membershipstatus.appfeestatus">
        <i class="fa fa-credit-card-alt"></i>
      </ngx-status-card>
    </div>

    <div class="col-xxxl-3 col-md-6">
      <ngx-status-card title="Subscription Fee" type="success" [status]="membershipstatus.subfeestatus">
        <i class="fa fa-money"></i>
      </ngx-status-card>
    </div>

    <div class="col-xxxl-3 col-md-6">
      <ngx-status-card title="Pending Invoices" type="info" [status]="membershipstatus.pendinginvoicestatus">
        <i class="fa fa-pencil-square-o"></i>
      </ngx-status-card>
    </div>

    <div class="col-xxxl-3 col-md-6">
      <ngx-status-card title="Pending Payments" type="warning" [status]="membershipstatus.pendingpaymentstatus">
        <i class="fa fa-spinner"></i>
      </ngx-status-card>
    </div>
  </div>

</div>