<div style="background-image:url('assets/images/homebg.jpg'); padding:15px;">

  <div class="row">
    <div class="col-xxxl-3 col-md-6">
      <ngx-status-card title="Registration Fee" type="primary" [status]="membershipstatus.appfeestatus">
        <i class="fa fa-credit-card-alt"></i>
      </ngx-status-card>
    </div>

    <div class="col-xxxl-3 col-md-6">
      <ngx-status-card title="Subscription Fee" type="success" [status]="membershipstatus.subfeestatus">
        <i class="fa fa-money"></i>
      </ngx-status-card>
    </div>

    <div class="col-xxxl-3 col-md-6">
      <ngx-status-card title="Pending Invoices" type="info" [status]="membershipstatus.pendinginvoicestatus">
        <i class="fa fa-pencil-square-o"></i>
      </ngx-status-card>
    </div>

    <div class="col-xxxl-3 col-md-6">
      <ngx-status-card title="Pending Payments" type="warning" [status]="membershipstatus.pendingpaymentstatus">
        <i class="fa fa-spinner"></i>
      </ngx-status-card>
    </div>
  </div>

</div>

<div class="">

  <nb-card class="medium-card col-md-6">




    <nb-card-header>
      Create A Profile
    </nb-card-header>


    <nb-card-body>
      <div _ngcontent-c18="" class="picture" style="background-repeat: no-repeat; background-position: center; height:98px; width:100%;background-image: url('assets/images/profilebg.png');"></div>


      <div style="text-align:justify; ">
        Create a profile for your company to get recognized through our member search platform. Get reached easily by customers by
        uploading your company contents for "About Us", "Staff","Services", "Quotations" and "Contact Us"
      </div>
      <nb-card-footer class="row col-md-12">
        <div class="col-md-3">
          <h2 style="margin-left:10px;">

            <a routerLink="/pages/customerservice/aboutcms">
              <i class="ion-ios-world"></i>
            </a>

          </h2>
          <label style="text-align:center; font-size: 10px;"> About Us</label>
        </div>
        <div class="col-md-3">
          <h2 style="margin-left:10px;">
            <a routerLink="/pages/customerservice/staffcms">
              <i class="fa fa-users"></i>
            </a>
          </h2>
          <label style="text-align:center; font-size: 10px;"> Staff</label>
        </div>
        <div class="col-md-3">
          <h2 style="margin-left:10px;">
            <a routerLink="/pages/customerservice/servicecms">
              <i class="fa fa-briefcase"></i>
            </a>
          </h2>
          <label style="text-align:center;font-size: 10px; "> Services</label>
        </div>

        <div class="col-md-3 ">
          <h2 style="margin-left:10px;">
            <a routerLink="/pages/customerservice/contactcms">
              <i class="fa fa-map-marker"></i>
            </a>
          </h2>
          <label style="text-align:center; font-size: 10px;"> Contact Us</label>
        </div>
      </nb-card-footer>
    </nb-card-body>

  </nb-card>


</div>