<div class="row">
    <ngx-invoicedetail *ngIf="showinvoice" [invoicemasterid]="invoicemasterid"></ngx-invoicedetail>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Transaction Details
            </nb-card-header>
            <nb-card-body>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">

                        <tbody>

                            <tr>
                                <td>Transaction Gateway</td>
                                <td>Remita</td>

                            </tr>
                            <tr>
                                <td>Charges</td>
                                <td>{{paytransdetail.charges}}</td>

                            </tr>
                            <tr>
                                <td>Total Amount To Pay</td>
                                <td>{{paytransdetail.amountpayable}}</td>

                            </tr>
                            <tr>
                                <td>Remita Payment Type</td>
                                <td>
                                    <select class="form-control" [(ngModel)]="data.paymentType" name="paymentType">
                                        <option *ngFor="let item of paymentTypeList" [value]="item.code">{{item.description}}</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button class="btn btn-hero-info  btn-demo" (click)="createRemitaTransactionRecord()">Pay</button>
                                </td>

                            </tr>
                        </tbody>

                    </table>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>