<div class="row col-md-12">
  <button (click)="createnewtrans()" class="btn btn-danger">Create New Transaction </button>

</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Pending Transactions
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table *ngIf="showtable" [settings]="settings" [source]="source">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
