<div class="col-md-12">
    <nb-card>
        <nb-card-body class="" style="background-image:url('assets/images/bgbg.jpg'); ">
            <h5> Sea & Airfreight</h5>

            <p> Our Manchester office can offer a total air and sea operation which together with preferential rates obtained
                from all the major shipping lines and airlines enable us to offer extremely competitive prices. Should you
                require advice on any aspect of shipping documentation you can count on our experience to ensure your shipments
                comply with all relevant country regulations, and if you require document legalisation our export department
                will be pleased to advise and produce on your behalf.
            </p>

            <h5>Shipments scheduled</h5>
            <p>
                UFS Dover offers Customs Formalities for all shipments scheduled to leave or arrive in the UK such as; Import Entry documents:
                C88 + C21 Export Entry Documents: E A D (Export Accompanying Document) NCTS (New Computerised Transit System)
                T I R Carnet E U R 1 (Completion and Approval Stamping) A T R 1 C M R Delivery Documents
            </p>
        </nb-card-body>
    </nb-card>
</div>