<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Invoice Details
            </nb-card-header>
            <nb-card-body>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td>Invoice Date</td>
                                <td>{{header.refdate}}</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>{{header.category}}</td>
                            </tr>
                            <tr>
                                <td>Invoice Amount</td>
                                <td>{{header.invoiceamount}}</td>
                            </tr>
                             <tr>
                                <td> <button (click)="deleteinvoice()" class="btn btn-danger">Delete Invoice</button></td>
                                <td> <button (click)="submitinvoice()" class="btn btn-danger">Submit Invoice</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row col-md-12">
    <ng2-smart-table *ngIf="showtable" [settings]="settings" [source]="source" (createConfirm)="onCreateConfirm($event)"
        (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
</div>