<div class="col-md-12">
    <nb-card>
        <nb-card-header>
            Services
        </nb-card-header>
        <nb-card-body>
            <div>
                <i>Write about your companys services in the section below:</i>
            </div>
            <div class="form-group col-md-6">
                <label>Service</label>
                <input type="text" class="form-control" name="contactperson" id="contactperson" placeholder="Service">
            </div>
            <div class="form-group col-md-6">
                <label for="postaladdress">Description</label>
                <textarea rows="3" name="postaladdress" id="postaladdress" class="form-control" placeholder="Description" class="form-control"></textarea>
            </div>
            <div style="padding-top:10px;">
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card>
        <nb-card-header>
            Added Services
        </nb-card-header>
        <nb-card-body>
            <table class="table table-bordered table-striped">

                <tbody>
                    <tr>
                        <th>Service</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div style="padding-top:10px;">
                <button type="submit" class="btn btn-danger">Save</button>
            </div>
        </nb-card-body>
    </nb-card>


</div>