<div class="col-md-12">
    <nb-card>
        <nb-card-header>
            Services
        </nb-card-header>
        <nb-card-body>
            <div>
                <i>Write about your companys services in the section below:</i>
            </div>
            <div class="form-group col-md-6">
                <label>Service</label>
                <input type="text" class="form-control" #title="ngModel" [(ngModel)]="data.title" name="title" id="title" placeholder="Service">
            </div>
            <div class="form-group col-md-6">
                <label for="postaladdress">Description</label>
                <textarea rows="3" name="body" id="body" #body="ngModel" [(ngModel)]="data.body" class="form-control" placeholder="Description"
                    class="form-control"></textarea>
            </div>
            <div style="padding-top:10px;">
                <button (click)="addservice()" type="submit" class="btn btn-success">Add</button>
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card>
        <nb-card-header>
            Added Services
        </nb-card-header>
        <nb-card-body>
            <table class="table table-bordered table-striped">

                <tbody>
                    <tr>
                        <th>Service</th>
                        <th>Description</th>
                        <th>Delete</th>
                    </tr>
                    <tr *ngFor="let service of servicelist">
                        <td>{{service.title}}</td>
                        <td>{{service.body}}</td>
                        <td>
                            <button (click)="deleteService(service.id)" type="submit" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </nb-card-body>
    </nb-card>


</div>