<nb-card>
    <nb-card-header>
        Document Upload
    </nb-card-header>

    <nb-card-body>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">

                <tbody>
                    <tr>
                        <td>Document Type</td>
                        <td>
                            {{data.documentType}}
                        </td>

                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>
                            {{data.description}}
                        </td>

                    </tr>
                    <tr>
                        <td>Select File</td>
                        <td>
                            <ngx-ba-file-uploader (onFileUploadCompleted)="onFileUploadCompleted" (onFileUpload)="onFileUpload()" [fileUploaderOptions]="fileUploaderOptions"></ngx-ba-file-uploader>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <div *ngIf="uploadInProgress" class="item text-warning">
                                <div class="color bg-warning"></div>
                                <div>
                                    <h5 class="text-warning">Alert</h5>
                                    upload in progress.
                                </div>
                            </div>
                        </td>
                        <td> <button class="btn btn-hero-info  btn-demo" (click)="startUpload()">Upload</button></td>

                    </tr>
                </tbody>

            </table>
        </div>
    </nb-card-body>
</nb-card>
