<nb-card>
    <nb-card-header>
        Document Upload
    </nb-card-header>

    <nb-card-body>
        <h6 style="font-style: italic" class="text-primary">*please upload document in <b>pdf</b> format</h6>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">

                <tbody>
                    <tr>
                        <td><b>Document Type</b></td>
                        <td>
                            {{data.documentType}}
                        </td>

                    </tr>
                    <tr>
                        <td><b>Description</b></td>
                        <td>
                            {{data.description}}
                        </td>

                    </tr>
                    <tr>
                        <td><b>Select File</b></td>
                        <td>
                            <ngx-ba-file-uploader (onFileUploadCompleted)="onFileUploadCompleted()"
                                (onFileUpload)="onFileUpload()" [fileUploaderOptions]="fileUploaderOptions">
                            </ngx-ba-file-uploader>
                        </td>
                    </tr>



                </tbody>

            </table>
            <button class="btn btn-hero-info  btn-demo" (click)="viewdocument()">View</button>
        </div>
    </nb-card-body>
</nb-card>