<nb-card>
    <nb-card-header>
        User Member Mapping Setup
    </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">

                <tbody>
                    <tr>
                        <td>Member List</td>
                        <td>
                            <ss-multiselect-dropdown [options]="userlist" [(ngModel)]="selectedmember" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button (click)="addMemberToUser()" type="submit" class="btn btn-danger">Add Member To User </button>

                        </td>

                    </tr>

                </tbody>

            </table>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <ng2-smart-table *ngIf="showtable" [settings]="settings" [source]="source">

    </ng2-smart-table>
</nb-card>