<nb-card>
    <nb-card-header>
        User Member Mapping Setup
    </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">

                <tbody>
                    <tr>
                        <td>Member List</td>
                        <td>
                            <nb-card>
                             
                            <ss-multiselect-dropdown  [options]="unMappedMembersOptions" [(ngModel)]="unMappedMembersOptionsModel"
                             (ngModelChange)="onChange($event)" [texts]="memberselectTextsSettings" [settings]="memberselectSettings"></ss-multiselect-dropdown>
                         </nb-card>  
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button (click)="mapMemberToUser()" type="submit" class="btn btn-danger">Map Member To User </button>

                        </td>

                    </tr>

                </tbody>

            </table>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <ng2-smart-table *ngIf="showtable" [settings]="settings" [source]="source"  (deleteConfirm)="onDeleteConfirm($event)">

    </ng2-smart-table>
</nb-card>