<nb-layout center>
  <nb-layout-header>Document Viewer</nb-layout-header>

  <nb-layout-column>
    <nb-card>
    <nb-card-header>    
           <div class="row">
            
            <div class="col-md-4"> <button (click)="download()" class="btn btn-hero-primary btn-demo">Download</button></div>
           
        </div>
          <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">

                    <tbody>
                        <tr>
                            <td>Document Type</td>
                            <td>
                                {{data.documentType}}
                            </td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>
                                {{data.description}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>

    </nb-card-body>
</nb-card>

  </nb-layout-column>

  <nb-layout-footer></nb-layout-footer>

</nb-layout>