<nb-card style="">
    <nb-card-header>
        Registration Data
    </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">
            <table class="table ">

                <tbody>
                    <tr>
                        <td>
                            <b>Registration Status</b>
                        </td>
                        <td>
                            <code>{{header.status}}</code>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <b>Membership Id</b>
                        </td>
                        <td>{{header.membershipid}}</td>

                    </tr>
                    <tr>
                        <td>
                            <b>Full Name</b>
                        </td>
                        <td>{{header.fullname}}</td>

                    </tr>
                    <tr>
                        <td>
                            <b>Date Of Birth</b>
                        </td>
                        <td>{{header.dob}}</td>

                    </tr>
                    <tr>
                        <td>
                            <b>Membership Category</b>
                        </td>
                        <td>{{header.category}}</td>

                    </tr>
                    <tr>
                        <td>
                            <b>State</b>
                        </td>
                        <td>
                            {{header.state}}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <b>LGA</b>
                        </td>
                        <td>
                            {{header.lga}}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <b>Address</b>
                        </td>
                        <td>
                            {{header.address}}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <b>Identification Type</b>
                        </td>
                        <td>
                            {{header.idtype}}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <b>ID Number</b>
                        </td>
                        <td>
                            {{header.idnos}}
                        </td>

                    </tr>
                </tbody>

            </table>
        </div>
    </nb-card-body>
</nb-card>



<nb-card>
    <nb-tabset>
        <nb-tab tabTitle="Qualification">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <th>Instituition</th>
                        <th>Qualification</th>
                        <th>Year Of Graduation</th>
                        <th>Remarks</th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of qualificationlist">
                            <td>{{item.instituition}}</td>
                            <td>{{item.qualification}}</td>
                            <td>{{item.yearofgrad}}</td>
                            <td>{{item.remarks}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </nb-tab>
        <nb-tab tabTitle="Documents Uploaded">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <th></th>
                        <th>Id</th>
                        <th>Document Type</th>
                        <th>Description</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of uploadeddocuments">
                            <td>
                                <a target="_blank" routerLink="/documentviewer/{{item.id}}">View</a>
                            </td>
                            <td>{{item.id}}</td>
                            <td>{{item.documenttype}}</td>
                            <td>{{item.description}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </nb-tab>

    </nb-tabset>
</nb-card>