<h1>
    New Transaction </h1>
<form (ngSubmit)="createPOFTransaction()" class="form-group" #form="ngForm">
    <div class="form-group">
        <label>Type</label>
        <select class="form-control" [(ngModel)]="data.pofTransactionType" name="pofTransactionType">
                          <option *ngFor="let poftranstypetype of pofTransactionTypelist" [value]="poftranstypetype.id">{{poftranstypetype.description}}</option>           
                   </select>
    </div>
     <div class="form-group">
        <label>Category</label>
        <select class="form-control" [(ngModel)]="data.pofTransactioncategory" name="pofTransactioncategory">
                          <option *ngFor="let item of pofTransactioncategorylist" [value]="item.id">{{item.description}}</option>           
                   </select>
    </div>
    <div class="form-group">
        <label for="refdate">Invoice Date</label>
        <input [ngModel]="data.refdate | date:'yyyy-MM-dd'" name="refdate" class="form-control" (ngModelChange)="data.refdate = $event"
            type="date" id="refdate" />
    </div>
    <div class="form-group">
        <label>Association</label>
        <select class="form-control" [(ngModel)]="data.POFTransactionAssociation" name="POFTransactionAssociation">
                          <option *ngFor="let item of POFTransactionAssociationlist" [value]="item.id">{{item.description}}</option>           
                   </select>
    </div>
    <div class="form-group">
        <label for="narration">Narration</label>
        <textarea rows="3" #narration="ngModel" [(ngModel)]="data.narration" name="narration" id="narration" class="form-control"
            placeholder="Narration" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-danger">Save</button>

</form>