<nb-card>
    <nb-card-header class="row">
        <h4 class="col-md-6">
            <i class="fa fa-user-circle"></i> About your company

        </h4>

    </nb-card-header>
    <nb-card-body>
        <div class="col-md-12">

            <nb-tabset fullWidth>
                <nb-tab tabTitle="Upload Text Content">
                    <ngx-about-text></ngx-about-text>
                </nb-tab>
                <nb-tab tabTitle="Upload Image Content">
                    <ngx-about-image></ngx-about-image>
                </nb-tab>
                <nb-tab tabTitle="View Text">
                    <viewtext></viewtext>
                </nb-tab>
                <nb-tab tabTitle="View Images">
                    <viewimages></viewimages>
                </nb-tab>

            </nb-tabset>

        </div>


    </nb-card-body>
</nb-card>