<div class="col-md-12">
    <nb-card>


        <nb-card-header> About {{customer.name}} </nb-card-header>

        <nb-card-body>
            <div class=" row show-grid">


                <table class="table table-bordered ">
                    <tbody>
                        <tr *ngFor="let item of listItem">

                            <td class="" *ngIf="item.aboutusitemtype ==='Text' ; else showImage">
                                <div [innerHTML]="item.htmlnote">

                                </div>

                            </td>


                            <td>

                                <ng-template #showImage>


                                    <img #showImage style="width:300px; height:300px; margin-left:40% " src="{{item.htmlnote}}">



                                </ng-template>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </nb-card-body>
    </nb-card>
</div>